<div class="modal-header">
    <h4 class="modal-title pull-left">Sign up</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
  <form [formGroup]="signupForm" (ngSubmit) = "handleFormSubmit(signupForm.value)">
    <div class = "form-group">
      <label class = "mr-3"> Name: </label>
      <input type="text" formControlName="name">
      <div class = "text-danger" *ngIf="signupForm.controls.name.touched && signupForm.controls.name.errors !== null ">Enter a Valid name</div>
    </div>
    <div class = "form-group">
      <label class = "mr-3"> Email: </label>
      <input type="text" formControlName="email">
      <div class = "text-danger" *ngIf="signupForm.controls.email.touched && signupForm.controls.email.errors !== null">Enter a Valid email</div>
    </div>
    <div class = "form-group">
      <label class = "mr-3"> Password: </label>
      <input type="text" formControlName="password">
      <div class = "text-danger" *ngIf="signupForm.controls.password.touched && signupForm.controls.password.errors !== null">Enter a Valid password</div>
    </div>
    <div class = "form-group">
      <button type="submit" class="btn btn-primary" (click)="bsModalRef.hide()">sign up</button>
    </div>
  </form>
</div>