<footer class="footer" id="contact">
    <div class="footer-info">
        <div class="text copyright-info">
          <div class="row copyright-links-container">
            <div class="col-md-7 copy-right-container">
              <span>© {{currentYear}} frontendinterviewquestions.com</span>
            </div>
            <div class="col-md-5 links-container">
              <a class="privacy-policy-link" [routerLink]= "['/privacy-policy']">Privacy Policy</a>
              <a class="privacy-policy-link" [routerLink]= "['/disclaimer']">Disclaimer</a>
              <a class="privacy-policy-link" [routerLink]= "['/contact-us']">Contact Us</a>
            </div>
          </div>
        </div>
    </div>
  </footer>