<footer>
    <a [routerLink]='["/about-us"]'>About Us</a>
    <div id = "follow-us-container">
        <div id = "social-links-label">Social links :</div>
        <ul id = "social-address-links">
            <li class = "social-link-item">
                <a href = "https://www.facebook.com/Front-end-interview-questions-106067168139636" target = "_blank">
                    <fa-icon [icon]="faFacebook"></fa-icon>
                </a>
            </li>
            <li class = "social-link-item">
                <a href = "https://twitter.com/amazingjavascr1" target = "_blank">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                </a>
            </li>
        </ul>
    </div>
</footer>
