@import "./../../../assets/scss/common.scss";

#close-icon-container {
    display: inline;
    position: absolute;
    right: 10px;
    top: 10px;
}

#social-address-links {
    list-style: none;
    padding-left: 0;
    display: inline;
}

.social-link-item {
    display: inline-block;
    margin: 0px 5px;
}

#follow-us-container {
    border: 1px solid lightgrey;
    padding: 4px 10px;
    border-radius: 11px;
    width: fit-content;
    margin-top: 10px;
    margin-left: 4px;
}

#about-us-label {
    vertical-align: middle;
    cursor: pointer;
}

#about-us-label:hover {
    text-decoration: underline;
}

.sidebar-container {
    margin-top: 35px;
    max-height: 590px;
    overflow: auto;
    height: 100%;
}

.header-nav {
    border-bottom: 1px solid #313e24;
    color: #313e24!important;
    padding: 12px;
}

.profile-dropdown {
    text-align: left !important;
}

.header-links {
    a {
        color: black !important;
        text-decoration: none;
    }
}