<section class="sidebar-container">
  <span id="close-icon-container">
    <fa-icon [icon]="faTimes" (click)="closeSideBar()" *ngIf="isSideBarOpen"></fa-icon>
  </span>
  <!-- <div id="about-us-and-social-links" class = "col-md-3">
        <span id = "about-us-label" (click) = "openAboutusModal()">About Us</span>
        <div id = "follow-us-container">
            <ul id = "social-address-links">
                <li class = "social-link-item">
                    <a aria-label="Facebook" href = "https://www.facebook.com/Front-end-interview-questions-106067168139636" target = "_blank">
                        <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                </li>
                <li class = "social-link-item">
                    <a aria-label="Twitter"href = "https://twitter.com/amazingjavascr1" target = "_blank">
                        <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                </li>
                <li class="social-link-item">
                    <a aria-label="Linkedin" href="https://www.linkedin.com/company/frontend-interview-questions/" target="_blank">
                      <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                  </li>
            </ul>
        </div>
    </div> -->
  <!-- <div class="col-md-1 userlogins">
        <li class="social-link-item Article">
          <a aria-label="" routerLink="user-posts" class="login">
             Articles
          </a>
        </li>
      </div> -->
  <div *ngIf="userName" class="col-md-12 header-nav btn-group loggedin-user" dropdown>
    <button id="button-basic" dropdownToggle type="button"
      class="no-padding btn btn-default dropdown-toggle profile-dropdown" aria-controls="dropdown-basic">
      {{userName}}
      <span class="caret"></span>
      <fa-icon [icon]="faUserCircle"></fa-icon>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
      aria-labelledby="button-basic">
      <li role="menuitem">
        <a class="dropdown-item" routerLink="user-posts/{{userName}}" (click)="closeSideBar()">My Posts</a>
        <a class="dropdown-item" (click)="logOut();closeSideBar()" href="javascript:void(0)">Logout</a>
      </li>
    </ul>
  </div>
  <div *ngIf="!userName && !loginPage" class="col-md-12 header-nav login-link-container">
    <a class="login-link" routerLink="admin-panel" (click)="closeSideBar()">
      Login
      <fa-icon class="user-circle-icon" [icon]="faUserCircle">
      </fa-icon>
    </a>
  </div>
  <div class="col-md-12 header-nav">
    <span class="header-links">
      <a class="nav-links" routerLink="interview-questions" class="login" (click)="closeSideBar()">
        Home
      </a>
    </span>
  </div>

  <div class="col-md-12 header-nav">
    <span class="header-links">
      <a class="nav-links" routerLink="user-posts" class="login" (click)="closeSideBar()">
        Posts
      </a>
    </span>
  </div>

  <div id="about-us-and-social-links" class="header-nav col-md-12">
    <span id="about-us-label" (click)="openAboutusModal()">About Us</span>
  </div>
  <div class="header-nav col-md-12" id="follow-us-container">
    <ul id="social-address-links">
      <li class="social-link-item">
        <a aria-label="Facebook" href="https://www.facebook.com/Front-end-interview-questions-106067168139636"
          target="_blank">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
      </li>
      <li class="social-link-item">
        <a aria-label="Twitter" href="https://twitter.com/amazingjavascr1" target="_blank">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
      </li>
      <li class="social-link-item">
        <a aria-label="Linkedin" href="https://www.linkedin.com/company/frontend-interview-questions/" target="_blank">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</section>