.search-term-container{
    padding: 5px 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.clear-search{
    margin-left: 5px;
    font-weight: bold;
    cursor:pointer;
}

.search-text{
    display: inline-block;
    vertical-align: -2px;
    font-size: 14px
}