<article class="panel-container" [ngClass]="{'admin-panel':adminMode}" >
  <b>
    <h2 class="page-heading">Front end interview questions</h2>
    <h3 class="display-none">UI interview questions</h3>
  </b>
   <div class="row">
    <div class="col-12">
      <button class="col-md-3 col-5 btn add-questions-btn hand-cursor" *ngIf="adminMode" (click)='openAddQuestionAnswerPopup()'>+ Add Q/A</button>
      <button class="col-md-3 col-6 btn add-questions-btn hand-cursor" *ngIf="adminMode" (click)='openAddQuestionTypePopup()'>+ Add/Edit Q/A type</button>
    </div> 
  </div> 
   
  <!-- <span class="badge badge-pill badge-secondary">{{searchKey}}</span> -->
  <div *ngFor="let questionAnswerItem of questionAnswerList;let i=index"> 
    <div class="panel-item">
      <div class="panel-header" role="img" aria-label="frontend interview questions">
        <div class="row">
          <div class="col-xl-10 col-md-9">
            <span>{{i+1}}. <h3 class="question-text" [innerHtml]="questionAnswerItem.question"></h3></span>
          </div>
          <div class="col-xl-2 col-md-3 action-btns">
            <fa-icon *ngIf="adminMode" class="hand-cursor edit-icon" [icon]="faEdit" (click)="editQuestionAnswer(questionAnswerItem)"></fa-icon><fa-icon *ngIf="adminMode" class="hand-cursor delete-icon" [icon]="faTrash" (click)="deleteQuestionAnswer(questionAnswerItem._id)"></fa-icon><button class="showHideAnswer hand-cursor btn-show-hide" (click)="toggleShowHideAnswer(questionAnswerItem)">{{questionAnswerItem.buttonText?questionAnswerItem.buttonText:"Show"}}</button>
          </div>
        </div>
      </div>
      <div class="panel-body" [ngClass]="{'open': questionAnswerItem.showAnswer ==true}">
        <div class="panel-body-content" [innerHtml]="questionAnswerItem.answer"></div>
      </div>
    </div> 
    <div class="affiliate-ads-container">
      <app-affiliate-ads [index]="i" [totalItems]="questionAnswerList.length"></app-affiliate-ads>
    </div>
  </div>  
</article>
<app-add-edit-interview-questions [editedItem]="editedItem" *ngIf="showQuestionAnswerModal" (popupEvent)="closeModal($event)"></app-add-edit-interview-questions>
<app-add-edit-question-types *ngIf="showQuestionTypeModal" (popupEvent)="closeModal($event)"></app-add-edit-question-types>