.sidebar-open{
    right: 0;
    animation: openSidebar 0.8s;
}

.sider-bar{
    position: fixed;
    top: 0;
    bottom: 0;
    background: white;
    z-index: 1;
    width: 180px;
}

.sidebar-closed{
    animation: closeSidebar 0.8s;
    right: -180px;
}

.sider-bar-initially-closed{
    right: -180px;
}

.sidebar-background{
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar-background-hidden{
    background: transparent;
    position: static;
}

@keyframes openSidebar {
    0%{right: -180px}
    100%{right: 0}
}

@keyframes closeSidebar {
    0%{right: 0;}
    100%{right: -180px;}
}

#contact-us-label{
    font-weight: 600;
    margin-top: 20px;
}