@import "./../../assets/scss/variables.scss";

/*--kept if temp code editor later required---*/
// %code-editor-style {
//     /* Both elements need the same text and space styling so they are directly on top of each other */
//   margin: 10px;
//   padding: 10px;
//   border: 0;
//   width: calc(100% - 32px);
//   height: 150px;
//   font-size: 15pt;
//   font-family: monospace;
//   line-height: 20pt;
//   position: absolute;
//   overflow: auto;
//   white-space: nowrap; /* Allows textarea to scroll horizontally */
// }

.main-questions-container {
    min-height: 80vh !important;

    &.col-12 {
        @media screen and (min-width: 769px) {
            float: left !important;
        }
    }
}

.relation-questions-container {
    &.col-12 {
        float: left !important;
    }

    ::ng-deep {
        .related-questionanswer-template {
            .panel-container {
                width: 90% !important;

                @media screen and (min-width: 769px) {
                    margin-top: 88px !important;
                }

                @media screen and (max-width: 768px) {
                    width: 100% !important;
                }
            }
        }
    }
}

.featured-articleimg-container {
    margin-bottom: 30px;

    .featured-article-img {
        width: 100%;
        height: 400px;

        @media screen and (max-width: 768px) {
            height: 180px;
        }
    }
}

.text-center {
    text-align: center;
}

.panel-body-content {
    position: relative;

    .open-linkseperate-container {
        position: absolute;
        right: 4px;
        bottom: -2px;

        fa-icon {
            color: $open-newtab-iconcolor  !important;
        }
    }
}

.modal {
    .modal-content {
        max-height: 582px !important;
        overflow: auto;
    }
}

.related-question-item {
    margin-bottom: 12px;

    .question-link {
        color: $question-link-color;

        &:hover {
            text-decoration: none !important;
            background: $question-link-hoverbackground  !important;
        }

        &::before {
            content: "• ";
            font-size: 15px;
            color: $questions-theme-color;
        }
    }
}


.hand-cursor {
    cursor: pointer !important;
}

.header-search-btn {
    border-color: $searchBtn-theme-background  !important;
    color: $searchBtn-theme-color;
    background-color: $searchBtn-theme-background;
    box-shadow: 0px 0px 2px 2px $box-shadow-color  !important;
    white-space: pre-wrap;
    @extend .hand-cursor;
}

.btn-outline-success {
    @extend .header-search-btn;

    &:hover,
    &:focus,
    &:active {
        @extend .header-search-btn;
        box-shadow: 0px 0px 4px 4px $box-shadow-color  !important;
    }
}

.no-padding {
    padding: 0px !important;
}

::ng-deep {
    .question-link {
        color: $question-link-color;

        &:hover {
            text-decoration: none !important;
            background: $question-link-hoverbackground  !important;
        }

        &::before {
            font-size: 15px;
            color: $questions-theme-color;
        }
    }
}

::ng-deep {
    pre {
        background-color: black;
        color: white;
        width: 100%;

        code {
            display: inline-block !important;
            min-height: 40px;
            padding: 5px;
            width: 100%;
        }
    }

    .edit-modal {

        .temp-code-editor {
            z-index: 1 !important;
        }
    }

    /*--temp-code-editor kept if later required ---*/

    .temp-code-editor {
        color: transparent;
        background: transparent;
        caret-color: white;
        /* Or choose your favorite color */
        resize: none;

        /*---just for testing ---*/
        caret-color: red;

    }

    .angular-editor {

        .angular-editor-textarea {
            min-height: 150px !important;
        }

        .angular-editor-placeholder {
            padding: 1.5rem .8rem 1rem 1rem !important;
        }

    }

    .admin-text-area {
        margin-top: 15px;
    }
}