@import "./../../assets/scss/variables.scss";

.main-questions-container {
    min-height: 80vh !important;

    &.col-12 {
        @media screen and (min-width: 769px) {
            float: left !important;
        }
    }
}

.relation-questions-container {
    &.col-12 {
        float: left !important;
    }

    ::ng-deep {
        .related-questionanswer-template {
            .panel-container {
                width: 90% !important;

                @media screen and (min-width: 769px) {
                    margin-top: 88px !important;
                }

                @media screen and (max-width: 768px) {
                    width: 100% !important;
                }
            }
        }
    }
}

.featured-articleimg-container {
    margin-bottom: 30px;
    .featured-article-img {
        width: 100%;
        height: 400px;
        @media screen and (max-width: 768px) {
            height: 180px;
        }
    }
}

.text-center {
   text-align: center;
}

::ng-deep {
    .question-link {
        color: $question-link-color;

        &:hover {
            text-decoration: none !important;
            background: $question-link-hoverbackground  !important;
        }

        &::before {
            font-size: 15px;
            color: $questions-theme-color;
        }
    }
}