$header-theme-background:#fbfbfb;
$header-theme-color:#d84315;
$button-theme-background:#f07c29;
$button-theme-color:#fff;
$searchBtn-theme-background:#28a745;
$searchBtn-theme-color:#fff;
$questions-theme-color:black;
$showHideToggleIcon-color:#f07c29;
$showHide-btn-background:white;
$showHide-btn-color:grey;
$background-img:'background-img.png';
$img-path:'./assets/images/';
$error-icon-color: red;
$error-innercontent-color: #999;
$error-content-bordercolor: gainsboro;
$code-snippet-backgroundcolor: #eee;
$code-snippet-color: #e83e8c;
$question-link-color: #195faa;
$question-link-hoverbackground: #f3f3f3;
$contact-us-footer: #edf0f5;
$copyright-footer: #313e24;
$goldentheme-copyright-footer: #313e24;
$contact-us-footercolor: #212529;
$contactus-linkicon-color: #005c50;
$contact-us-border: gainsboro;
$contactus-icon-backgroundcolor: #238ae6;
$contactus-icon-color: #fff;
$answer-tableitem-bordercolor: #b8adad;
$answer-th-boxshadowcolor: gainsboro;
$copy-code-btncolor: #fff;