.question-type{
    min-height: 30px;
}

#social-address-links{
    list-style: none;
    padding-left: 0;
    display: inline;
}

.social-link-item:nth-child(2){
    margin-left: 20px;
}

.social-link-item{
    display: inline-block;
}

#about-us-and-social-links{
    padding-left: 10%;
}

#follow-us-container{
    display: inline-block;
    margin-left: 20px;
    border: 1px solid lightgrey;
    padding: 4px 10px;
    border-radius: 11px;
}

#about-us-label{
    vertical-align: middle;
    cursor: pointer;
}

#about-us-label:hover{
    text-decoration: underline;
}

#menubars{
    display: none;
}

@media screen and (max-width: 768px){

    #about-us-and-social-links{
        display: none;
    }

    #menubars{
        display: inline;
        float: right;
        font-size: 1.2em;
        margin-top: 5px;
        margin-right: 10px;
    }

}