.question-type {
    min-height: 30px;
}

#social-address-links {
    list-style: none;
    padding-left: 0;
    display: inline;
}

.social-link-item {
    display: inline-block;
    margin: 0px 5px;
}

#about-us-and-social-links {
    padding-left: 0px;
}

#follow-us-container {
    display: inline-block;
    margin-left: 20px;
    border: 1px solid lightgrey;
    padding: 4px 10px;
    border-radius: 11px;
}

#about-us-label {
    vertical-align: middle;
    cursor: pointer;
}

#about-us-label:hover {
    text-decoration: underline;
}

#menubars {
    display: none;
}
.dropdown-menu{
    cursor: pointer;
}
.dropdown-menu a{
    color: #333;
}
.Article{
cursor: pointer;
}

.login-link a, .Article a, .login-link{
    color: #333;
}

.loggedin-user {
    margin-left: 40px;
}

.user-circle-icon {
   width: 16px !important;
   display: inline-block !important;
}

.post-link {
    padding-left: 40px;
}

@media screen and (max-width: 768px) {

    #about-us-and-social-links {
        display: none;
    }

    #menubars {
        display: inline;
        float: right;
        font-size: 1.2em;
        margin-top: 5px;
        margin-right: 10px;
    }

}