<header>
  <div class="page-header d-flex flex-column flex-md-row align-items-center px-md-4 mb-3 border-bottom box-shadow">
    <h5 class="col-md-2 col-12 font-weight-normal project-name hand-cursor">
      <a href="/">
         <span class="d-block d-lg-none d-md-none d-sm-block project-name-text">Amazing Javascript</span>
        <img src="../../../favicon.ico" class="project-icon"/>
    </a>
    </h5>
    <div class="form-inline col-md-5">
        <input #searchString class="form-control mr-sm-2 col-md-8" type="text" (keydown)="checkEnterKeyPressed(searchString.value,$event)" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 col-md-2 hand-cursor" (click)="searchByQuestion(searchString.value)">Search</button>
    </div>
      <select class="col-md-2 col-11 question-type" #mySelect (change)='onOptionsSelected(mySelect.value)'>
      <option value="All" title="Select question type...">Select question type...</option>
       <option *ngFor="let item of questionTypes" [value]="item.questionType">
         {{item.questionType}}
        </option>
    </select>
  </div>
</header>