<header>
  <div class="page-header d-flex flex-column flex-md-row align-items-center px-md-4 mb-3 border-bottom box-shadow" role="img" aria-label="frontend interview questions">
    <div class="col-md-2 col-12 font-weight-normal project-name hand-cursor">
      <a href="/">
        <img src="../../../assets/images/frontend.png" alt="Frontend interview questions" class="project-icon">
        <div class="project-text">
          <h1 class="logo-text">
            <span class="first-line">Frontendinterviewquestions.com</span>
          </h1>
        </div> 
      </a>
      <span id = "menubars" class = "col-1">
        <fa-icon [icon]="faBars" (click) = "openSiderBar()"></fa-icon>
      </span>
    </div>
    <div class="form-inline col-md-5">
        <!-- <form #myForm= "ngForm"> -->
          <input name = "searchVal" #searchString [(ngModel)] = "searchVal" class="form-control mr-sm-2 col-md-8" type="text" (keydown)="checkEnterKeyPressed(searchString.value,$event)" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 col-md-2 hand-cursor" (click)="searchByQuestion(searchString.value)">Search</button>
        <!-- </form> -->
    </div>
      <select class="col-md-2 col-11 question-type" #mySelect (change)='onOptionsSelected(mySelect.value)'>
      <option value="All" title="Select question type...">Select question type...</option>
       <option *ngFor="let item of questionTypes" [value]="item.questionType">
         {{item.questionType}}
        </option>
    </select>
    <div id="about-us-and-social-links" class = "col-md-3">
      <span id = "about-us-label" (click) = "openAboutusModal()">About Us</span>
      <div id = "follow-us-container">
          <ul id = "social-address-links">
              <li class = "social-link-item">
                  <a href = "https://www.facebook.com/Front-end-interview-questions-106067168139636" target = "_blank">
                      <fa-icon [icon]="faFacebook"></fa-icon>
                  </a>
              </li>
              <li class = "social-link-item">
                  <a href = "https://twitter.com/amazingjavascr1" target = "_blank">
                      <fa-icon [icon]="faTwitter"></fa-icon>
                  </a>
              </li>
          </ul>
      </div>
    </div>
  </div>
</header>