<div class="privacy-policy-container">
    <div class="panel-container related-questionanswer-container">
        <div class="panel-item">
            <div class="panel-header" role="img" aria-label="frontend interview questions">
                <h1>Contact Us</h1>
            </div>
            <div class="panel-body open">
                <div class="panel-body-content">
                    <div class="contact-us-part">
                        <!-- <h6 class="mb-4 offset-md-5 call-us-text">Call or WhatsApp us now</h6> -->
                        <div class="col-12 contact-email-container">
                            <h6 class="offset-md-3 contact-item phone-contact">
                                <span class="contact-us-label">
                                    <span class="ringing">
                                        <fa-icon class="contact-us-icon hand-cursor edit-icon" size="1x"
                                            [icon]="faPhoneSquare"></fa-icon>
                                    </span>
                                    Need help? call
                                </span>
                                <span class="contact-us-data">
                                    <a href="tel:+91-9175605265">+91-9175605265</a>
                                </span>
                            </h6>
                            <h6 class="offset-md-3 contact-item email-contact">
                                <span class="contact-us-label">
                                    <fa-icon class="contact-us-icon hand-cursor edit-icon" size="1x"
                                        [icon]="faEnvelope"></fa-icon>
                                    Email us at
                                </span>
                                <span class="contact-us-data">
                                    <a href="mailto:pravinmohiteait@gmail.com">
                                        pravinmohiteait@gmail.com
                                    </a>
                                    /
                                    <a href="mailto:vireshkhandelwal93@gmail.com">
                                        vireshkhandelwal93@gmail.com
                                    </a>
                                </span>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>