<div class="container loginPannel-maincontainer">
    <div class="loginPannel-container">
        <fieldset>
            <legend class="login-register">{{ showRegistrationFields ? 'Register' : 'Login' }}:</legend>
            <form [formGroup]="userForm" (ngSubmit)="submitForm()">
                <!-- Existing username and password fields -->
                <div class="Sign-upContainer">
                    <label for="username" class="col-4 col-form-label">Username</label>
                    <div class="col-8">
                        <input id="username" name="username" formControlName="username" (blur)="blurEventHandler($event)"
                            placeholder="Enter your Username" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="Sign-upContainer">
                    <label for="password" class="col-4 col-form-label">Password</label>
                    <div class="col-8">
                        <input id="password" name="password" formControlName="password" (blur)="blurEventHandler($event)"
                            placeholder="Enter your Password" type="password" class="form-control" required>
                    </div>
                </div>

                <!-- Registration fields (conditionally displayed) -->
                <div *ngIf="showRegistrationFields">
                    <div class="Sign-upContainer">
                        <label for="confirmPassword" class="col-4 col-form-label">Confirm Password</label>
                        <div class="col-8">
                            <input id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" (blur)="blurEventHandler($event)"
                                placeholder="Confirm Password" type="password" class="form-control" required>
                            <!-- Display a validation error message if passwords do not match -->
                            <div *ngIf="userForm.get('password').hasError('passwordMismatch') && userForm.get('confirmPassword').touched">
                                Passwords do not match.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Sign-upContainer">
                    <label for="username" class="col-4 col-form-label"></label>
                    <div class="col-8">
                        <!-- Show the "Submit" button and the appropriate button based on registration mode -->
                        <button type="submit" class="Submit-btn btn">Submit</button>
                        <button *ngIf="showRegistrationFields" class="btn login-btn" (click)="toggleRegistrationFields()">Login</button>
                        <button *ngIf="!showRegistrationFields" class="btn login-btn" (click)="toggleRegistrationFields()">Register</button>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>
