@import "./../../../assets/scss/common.scss";

.invalid-input {
    border: 2px solid red;
}

.Sign-upContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.loginPannel-maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.loginPannel-container {
    width: 60%;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #dcdcdc94;

}

.login-register {
    background-color: #333;
    color: white;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding: 5px 0px 5px 24px;
}

.btn {
    margin-right: 10px;
}

.login-btn {
    border-radius: 10px;
    border: 1px solid #333 !important;
    padding: 7px 18px;
    // background-color: #dcdcdc63;
    color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.login-btn:active,
.login-btn:focus,
.login-btn:hover {
    // background-color: #dcdcdc63;
    transform: scale(0.95);
}

// .Submit-btn {
//     border-radius: 10px;
//     color: white;
//     background-color: #333;
//     padding: 7px 18px;
//     // background-color: #007bff;
//     color: #fff;
//     border: none;
//     cursor: pointer;
//     transition: background-color 0.3s, transform 0.3s;
// }

// .Submit-btn:active,
// .Submit-btn:focus,
// .Submit-btn:hover {
//     background-color: #333;
//     transform: scale(0.95);
// }
@media screen and (max-width: 768px) {
    .loginPannel-container {
        width: 100%;
    }
    .Submit-btn {
        padding: 5px 13px;
    }
    .login-btn {
        padding: 5px 13px;
    }
}