<!-- related list {{relatedQuestionAnswerList | json}} -->

<div class="panel-container related-questionanswer-container">
    <div class="panel-item">
        <div class="panel-header" role="img" aria-label="frontend interview questions">
            Related questions
        </div>
        <div class="panel-body open">
            <div class="panel-body-content">
                <div class="related-questions-container">
                    <!-- <article *ngFor="let item of relatedQuestionAnswerList;let i = index"
                        class="related-question-item"> 
                        <a [routerLink] = "['/interview-questions/', item.questionUrl]" class="question-link">
                            {{item.question}}
                        </a>
                    </article> -->
                    <article class="related-question-item">
                      <a [routerLink]= "['/interview-questions/', freshersInterviewQuestionsObj.path]" class="question-link">
                        {{freshersInterviewQuestionsObj.title}}
                      </a>
                    </article>
                    <article class="related-question-item">
                        <a [routerLink]= "['/interview-questions/', threeYearsExperienceInterviewQuestionsObj.path]" class="question-link">
                            {{threeYearsExperienceInterviewQuestionsObj.title}}
                        </a>
                      </article>
                      <article class="related-question-item">
                        <a [routerLink]= "['/interview-questions/', fiveYearsExperienceInterviewQuestionsObj.path]" class="question-link">
                            {{fiveYearsExperienceInterviewQuestionsObj.title}}
                        </a>
                      </article>
                      <article class="related-question-item">
                        <a [routerLink]= "['/interview-questions/', topAngularInterviewQuestions.path, {data:topAngularInterviewQuestions}]" class="question-link">
                            {{topAngularInterviewQuestions.title}}
                        </a>
                      </article>
                      <article class="related-question-item">
                        <a [routerLink]= "['/interview-questions/', topHTML5InterviewQuestions.path, {data:topHTML5InterviewQuestions}]" class="question-link">
                            {{topHTML5InterviewQuestions.title}}
                        </a>
                      </article>
                      <article class="related-question-item">
                        <a [routerLink]= "['/interview-questions/', topCSS3InterviewQuestions.path, {data:topCSS3InterviewQuestions}]" class="question-link">
                            {{topCSS3InterviewQuestions.title}}
                        </a>
                      </article>
                      <article class="related-question-item">
                        <a [routerLink]= "['/interview-questions/', topJavascriptInterviewQuestions.path, {data:topJavascriptInterviewQuestions}]" class="question-link">
                            {{topJavascriptInterviewQuestions.title}}
                        </a>
                      </article>
                </div>
            </div>
        </div>
    </div>

</div>