@import "./../../../../assets/scss/variables.scss";
@import './../../../../assets/scss/common.scss';

.detail-relatedquestion-container {
    ::ng-deep {
        .panel-container {
            @media screen and (min-width:769px) {
               width: 90%;
            }

            ul {
                list-style-type: none !important;
            }
        }
    }

    @media screen and (min-width:769px) {
        margin-top: 31px !important;
        float: left;
    }
}

.question-answer-detailcontainer {
    ::ng-deep {
        &.panel-container {
            margin-top: 50px !important;
        }

        ul {
            list-style-type: none !important;
        }

        header {
            .question-text {
                font-size: 1.5em !important;
            }
        }
    }
}

.question-error-container {
    .error-content {
        width: 30%;
        text-align: left;
        font-size: 25px;
        border: solid 1px $error-content-bordercolor;
        margin: auto;
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        top: 40%;
        left: 60%;
        transform: translate(-50%, -50%);

        @media screen and (max-width:768px) {
            width: 90%;
            left: 50%;
        }

        .error-triangle-icon {
            font-size: 44px !important;
            color: $error-icon-color;
            //vertical-align: text-top;
            width: 44px!important;
            display: block;
        }

        .error-inner-content {
            font-size: 16px;
            color: $error-innercontent-color;
            text-align: left;
        }
    }
}